doctype html
html
  head
    title #{title}
    link(type='text/css', rel='stylesheet', href='/stylesheets/normalize.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Oops!! Something went wrong
    h3 Below is the response received from Stripe API
    p #{ response }
